global
    log stdout format raw local0 warning
    maxconn 100000
    tune.bufsize 65536
    tune.rcvbuf.client 65536
    tune.rcvbuf.server 65536

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    option  tcp-smart-accept
    option  tcp-smart-connect
    option  http-server-close
    option  forwardfor
    http-reuse always
    
    timeout connect       10s
    timeout client        2h
    timeout server        2h
    timeout tunnel        2h
    timeout client-fin    30s
    timeout server-fin    30s

frontend cloudrun_ingress
    bind *:8080

    acl is_health path -i /health
    http-request return status 200 content-type "text/plain" string "OK" if is_health

    acl is_root path -i /
    http-request return status 200 content-type "text/html" file "/usr/local/etc/haproxy/index.html" if is_root

    # TROJAN
    use_backend bk_trojan_ws if { path /saeka-tojirp }
    use_backend bk_trojan_hu if { path /saeka-tojirp-hu }
    use_backend bk_trojan_xh if { path /saeka-tojirp-xh }

    # VMESS
    use_backend bk_vmess_ws if { path /vmess-saeka }
    use_backend bk_vmess_hu if { path /vmess-saeka-hu }
    use_backend bk_vmess_xh if { path /vmess-saeka-xh }

    # VLESS
    use_backend bk_vless_ws if { path /vless-saeka }
    use_backend bk_vless_hu if { path /vless-saeka-hu }
    use_backend bk_vless_xh if { path /vless-saeka-xh }

    # SHADOWSOCKS
    use_backend bk_ss_ws if { path /ss-saeka }
    use_backend bk_ss_hu if { path /ss-saeka-hu }
    use_backend bk_ss_xh if { path /ss-saeka-xh }

    default_backend bk_blackhole

# --- BACKENDS ---
backend bk_trojan_ws
    server xray 127.0.0.1:10000
backend bk_trojan_hu
    server xray 127.0.0.1:10001
backend bk_trojan_xh
    server xray 127.0.0.1:10002

backend bk_vmess_ws
    server xray 127.0.0.1:10003
backend bk_vmess_hu
    server xray 127.0.0.1:10004
backend bk_vmess_xh
    server xray 127.0.0.1:10005

backend bk_vless_ws
    server xray 127.0.0.1:10006
backend bk_vless_hu
    server xray 127.0.0.1:10007
backend bk_vless_xh
    server xray 127.0.0.1:10008

backend bk_ss_ws
    server xray 127.0.0.1:10009
backend bk_ss_hu
    server xray 127.0.0.1:10010
backend bk_ss_xh
    server xray 127.0.0.1:10011

backend bk_blackhole
    http-request return status 404 content-type "text/plain" string "404 Not Found"